@import "vars";
@import "fonts";
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  background: $main;
  position: relative;
  &>.top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &>h1 {
      color: white;
      font-family: "Righteous", sans-serif;
      font-weight: 200;
      margin: 20px;
    }
    &>nav {
      margin: 20px;
      &>ul {
        list-style: none;
        display: flex;
        align-items: center;
        &>li {
          margin: 0 10px;
          &>a {
            text-decoration: none;
            color: white;
            font-family: "Raleway", sans-serif;
          }
        }
      }
    }
  }
  &>.bottom {
    display: flex;
    flex-direction: row;
    flex: 1 0;
    &>.img {
      display: flex;
      width: 50%;
      justify-content: center;
      min-height: 400px;
      &>img {
        width: 500px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 5%;
      }
    }
    &>.title {
      width: 50%;
      display: flex;
      flex-direction: column;
      color: white;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      &>h1 {
        font-family: "Raleway", sans-serif;
        font-weight: 200;
      }
      &>h2 {
        font-family: "Raleway", sans-serif;
        font-weight: 100;
      }
    }
  }
}
